<div class="aside">
        <div class="aside-wrap">
            <div class="aside-content">
                <a title="关于" href="/about" class="avartar"><img src="http://king-webfing.qiniudn.com/avartarB.jpg" alt=""></a>
                <h1>悟道前端</h1>
                <small>闻道有先后，术业有专攻</small>
                <hr>
                <p class="brief">生于1990，毕业于非知名学校的非专业码农，希望成为前端翘楚，并一直努力着</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li>
                                <a href="/">求知欲</a>
                            </li>
                            <li>
                                <a href="/think">控索癖</a>
                            </li>
                            <li>
                                <a href="/project">项目经</a>
                            </li>
                            <li>
                                <a href="/about">关于我</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="social">
                    <nav>
                        <ul>
                        <!-- Weibo -->
                        <li>
                        <a href="http://weibo.com/cpjmj" title="@king 的微博" target="_blank">
                          <i class="social fa fa-weibo"></i>
                          <span class="label">Weibo</span>
                        </a>
                        </li>

                        <!-- Github -->
                        <li>
                        <a href="https://github.com/webfing" title="@king 的 Github" target="_blank">
                          <i class="social fa fa-github"></i>
                          <span class="label">Github</span>
                        </a>
                        </li>

                        <!-- Twitter -->
                        <!--<li>
                        <a href="http://twitter.com/onevcat" title="@king" target="_blank">
                          <i class="social fa fa-twitter"></i>
                          <span class="label">Twitter</span>
                        </a>
                        </li>-->

                        <!-- Google Plus -->
                        <li>
                        <a href="https://plus.google.com/100070923225165825334" rel="author" title="Google+" target="_blank">
                          <i class="social fa fa-google-plus-square"></i>
                          <span class="label">Google+</span>
                        </a>
                        </li>

                        <!-- RSS -->
                        <li>
                        <a href="http://webfing.github.io/rss/" rel="author" title="RSS" target="_blank">
                          <i class="social fa fa-rss"></i>
                          <span class="label">RSS</span>
                        </a>
                        </li>

                        <!-- Email -->
                        <li>
                        <a href="mailto:471897134@qq.com" title="邮件联系我">
                          <i class="social fa fa-envelope"></i>
                          <span class="label">Email</span>
                        </a>
                        </li>

                        </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>