<!DOCTYPE html>
<html>
<head>
    <!--
    * Note: 感谢百度BeiYuu的皮肤
    -->
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="King" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="悟道前端" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/font-awesome-4.2.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">悟道前端</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="http://weibo.com/beiyuu/" target="_blank" style="margin-left:-5px;"><img src="http://www.weibo.com/favicon.ico" alt="" width="25"/></a>
            <a href="http://www.douban.com/people/beiyuu/" target="_blank" style="text-align:center;"><img src="http://www.douban.com/favicon.ico" alt="" width="22"/></a>
            <a href="http://instagram.com/beiyuu/" target="_blank" style="text-align:right"><img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/00c6602/images/ico/favicon.ico" alt="" width="22"/></a>
        </div>
    </div>

    {{ content }}

    <div class="aside">
        <div class="aside-wrap">
            <div class="aside-content">
                <a href="" class="avartar"><img src="http://webfing.qiniudn.com/avartarB.jpg" alt=""></a>
                <h1>悟道前端</h1>
                <small>闻道有先后，术业有专攻</small>
                <hr>
                <p class="brief">生于1990，毕业于非知名学校的非专业码农，希望成为前端翘楚，并一直努力着</p>
                <div class="link">
                    <nav>
                        <ul>
                            <li>
                                <a href="">求知欲</a>
                            </li>
                            <li>
                                <a href="">控索癖</a>
                            </li>
                            <li>
                                <a href="">项目经</a>
                            </li>
                            <li>
                                <a href="">关于我</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="social">
                    <nav>
                        <ul>
                        <!-- Weibo -->
                        <li>
                        <a href="http://weibo.com/onevcat" title="@king 的微博" target="_blank">
                          <i class="social fa fa-weibo"></i>
                          <span class="label">Weibo</span>
                        </a>
                        </li>

                        <!-- Github -->
                        <li>
                        <a href="https://github.com/onevcat" title="@king 的 Github" target="_blank">
                          <i class="social fa fa-github"></i>
                          <span class="label">Github</span>
                        </a>
                        </li>

                        <!-- Twitter -->
                        <li>
                        <a href="http://twitter.com/onevcat" title="@king" target="_blank">
                          <i class="social fa fa-twitter"></i>
                          <span class="label">Twitter</span>
                        </a>
                        </li>

                        <!-- Google Plus -->
                        <li>
                        <a href="https://plus.google.com/107108267983477358170" rel="author" title="Google+" target="_blank">
                          <i class="social fa fa-google-plus-square"></i>
                          <span class="label">Twitter</span>
                        </a>
                        </li>

                        <!-- RSS -->
                        <li>
                        <a href="http://onevcat.com/rss/" rel="author" title="RSS" target="_blank">
                          <i class="social fa fa-rss"></i>
                          <span class="label">RSS</span>
                        </a>
                        </li>

                        <!-- Email -->
                        <li>
                        <a href="mailto:onev@onevcat.com" title="邮件联系我">
                          <i class="social fa fa-envelope"></i>
                          <span class="label">Email</span>
                        </a>
                        </li>

                        </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>

    <!--百度统计-->
    <!--<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?9917633e974a630eb826067f58c6991f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>-->
    <!--/百度统计-->  

</body>
</html>
