---
layout:           default
---

{{ content }}

<script type="text/javascript">
    $(function(){
        function animateBar($item,noAni){
            if ($item.length==0) return;
            var spanLeft = $item.find('span').offset().left;
            var conLeft = $item.parent().offset().left;
            var left = spanLeft - conLeft;
            var width = $item.find('span').width() + 8;

            if(noAni){
                $('#cateBar').css({left:left,width:width})
            }else{
                $('#cateBar').stop().animate({left:left,width:width},300)
            }
        }

        var waitForFinalEvent = (function () {
            var timers = {};
            return function (callback, ms, uniqueId) {
                if (!uniqueId) {
                    uniqueId = "Don't call this twice without a uniqueId";
                }
                if (timers[uniqueId]) {
                    clearTimeout (timers[uniqueId]);
                }
                timers[uniqueId] = setTimeout(callback, ms);
            };
        })();

        $('.artical-cate li').mouseenter(function(){
            animateBar($(this));
        }).mouseleave(function(){
            animateBar($('.artical-cate .on'));
        });

        $(window).resize(function(e){
            waitForFinalEvent(function(){
                animateBar($('.artical-cate .on'));
            })
        })
        animateBar($('.artical-cate .on'),true);

        (function(){
            var imgSite = 'http://king-webfing.qiniudn.com/';
            var asideBg = {
                study: 'study',
                think: 'think',
                project: 'project',
                about: 'about'
            };
            var winWidth = $(window).width();
            var page = $(".index-content")[0].className.split(/\s+/)[1];
            if (page == 'about'){
                $(".aside").css({
                    'background-image': "url('"+imgSite+asideBg[page]+".jpg')"
                });
            }else if (page){
                if (winWidth>1000){
                    $(".aside").css({
                        'background-image': "url('"+imgSite+asideBg[page]+"-b.jpg')"
                    });
                }else if(1000<=winWidth && winWidth>480){
                    $(".aside").css({
                        'background-image': "url('"+imgSite+asideBg[page]+"-s.jpg')"
                    });
                }else{
                    $(".aside").css({
                        'background-image': "url('"+imgSite+asideBg[page]+"-s.jpg?imageView2/2/w/400')"
                    });
                }

            }
        })();
    });
</script>
